/* navbar */

.my_dark_back{
    background-color: #2c3e50;
}


/* jumbotron - about*/

.my_green_back{
    color: white;
    background-color: #1abc95;
}

/* .my_image_container img{
    width: 20%;
} */

/* .line{
    height: 5px;
    width: 15%;
}

#jumbotron .line,
#about .line{
    background-color: white;
} */

.separator-line{
    width: 10%;
}


/* portfolio */

#portfolio .line{
    background-color:black;
}


/* contact me */

.form-control::placeholder{
    color: black;
}


.my_btn{
    border: transparent;
    background-color: #1abc95;
}

/* footer */

.text_green{
    color: #1abc95;
}

.my_lighter_back{
    background-color: #3a546d;
}

